<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
AuthName "You shall not pass!"
AuthType Basic
AuthUserFile  /home/dancenergy/public_html/.htpasswd
AuthGroupFile /dev/null
require valid-user